.collection_link {
    color: #000000;
    text-decoration: none;
}

.collection_link:hover {
    color: #6c757d;
}

.create_button {
    color: #000000;
    border-color: #000000;
}

.create_button:hover{
    color: #6c757d;
    border-color: #6c757d;
}

#start_deleting{
    position: relative;
    top: -86px;
    left: 123px;
    width: 78px;
}

.window {
    width: 350px;
    height: 268px;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150; display: none;
    position: fixed; left: 0;right: 0;top:0;bottom: 0;
}

#gray {
    opacity: 0.8; padding: 15px;
    background-color: rgba(1,1,1,0.75);
    position: fixed; left: 0;right: 0;top:0;bottom: 0;
    display: none; z-index:100; overflow: auto;
}

.close {
    margin: 10px 10px auto auto;
}

.form{
    width: 275px; margin: 20px auto 20px auto; text-align: center;
}
