body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.carousel {
    width: 843px;
    margin: 0 auto;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.translate-textarea {
    max-height: 150px;
}

.favorite {
    position: absolute;
    right: -155px;
    bottom: 0;
}

.repeat {
    position: absolute;
    right: -135px;
    top: 0;
}

.quiz-container {
    padding: 1em;
    max-width: 100%;
    margin: 1em auto;
}

.quiz-container a {
    text-decoration: none;
    color: #333
}

#quiz-counter, #quiz-header, #quiz-results-screen, #quiz-start-screen {
    text-align: center
}

.question {
    font-size: 1.25em
}

.answers {
    list-style: none;
    padding: 0
}

.answers a {
    display: block;
    padding: .5em 1em;
    margin-bottom: .5em;
    background: #fff;
    border-radius: 10px
}

.answers a.correct {
    background: #090
}

.answers a.incorrect {
    background: #c00
}

.answers a.correct, .answers a.incorrect {
    color: #fff
}

#quiz-controls {
    background: #333;
    color: #fff;
    padding: .5em 1em;
    text-align: center;
    border-radius: 10px
}

#quiz-results {
    font-size: 1.25em
}

#quiz-buttons a, .quiz-container .quiz-button {
    display: inline-block;
    padding: .5em 1em;
    background: #333;
    color: #fff;
    border-radius: 10px
}

#quiz-buttons a {
    background: #fff;
    color: #333
}

.quiz-results-state #quiz-controls {
    background: 0 0;
    padding: 0
}

.quiz-results-state #quiz-buttons a {
    background: #333;
    color: #fff
}

#quiz-counter {
    margin-bottom: 15px;
}

.avatar {
    width: 150px;
    height: 150px;
    z-index: 1;
}

.avatar img {
    height: 150px;
}

#list1 .form-control {
    border-color: transparent;
}

#list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

#list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
}

#profile {
    position: absolute;
    top: 25px;
    left: 20px;
}

#chat-form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}