{% extends 'base.html' %}

{% block links %}
    <link href="{{ url_for('static', path='/css/collections_style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 20px">
            <div class="box">
                <div class="text-center">
                    <span>
                        <h1 class="brand-name">Collections</h1>
                        <a href="create_collection">
                            <button class="btn btn-outline-dark" style="border-radius: 8px;"> Create new one </button>
                        </a>
                    </span>
                    <hr class="tagline-divider">
                </div>
            </div>
        </div>
        {% for collection in collections %}
            <div class="row">
                <a class="collection_link" href="/collection/collection/{{ collection.id }}">
                    <div class="box">
                        <div class="text-center">
                            <div class="collection_card">
                                {% if collection.name.__len__() < 80 %}
                                    <h3> {{ collection.name }} </h3>
                                {% else %}
                                    <h3> {{ collection.name[:80] }}... </h3>
                                {% endif %}
                                <hr class="tagline-divider">
                                {% if collection.description.__len__() < 60 %}
                                    <p> {{ collection.description }} </p>
                                {% else %}
                                    <p> {{ collection.description[:60] }}... </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {%  endfor %}

    </div>
{% endblock %}