<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link href="{{ url_for('static', path='/css/google_styles_first.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', path='/css/google_styles_second.css') }}"
          rel="stylesheet" type="text/css">
    <link rel= "stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    {% block links %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg box">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item me-5">
                    <a href="/" class="nav-link link-secondary fs-4">Home</a>
                </li>
                <li class="nav-item me-5">
                    <a href="/translate" class="nav-link link-secondary fs-4">Translate</a>
                </li>
                <li class="nav-item me-5">
                    <a href="/collection/all" class="nav-link link-secondary fs-4">Collections</a>
                </li>
                {% if user %}
                <li class="nav-item me-5 dropdown">
                    <a class="nav-link link-secondary fs-4 dropdown-toggle" href="/rating/users" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ratings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/rating/users">User's rating</a></li>
                        <li><a class="dropdown-item" href="/rating/words">Word's rating</a></li>
                    </ul>
                </li>
                <li class="nav-item me-5">
                    <a href="/chat/register" class="nav-link link-secondary fs-4">Chat</a>
                </li>
                <li class="nav-item me-5">
                    <a href="/user/profile" class="nav-link link-secondary fs-4">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link link-secondary fs-4">Logout</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/auth/sign_in" class="nav-link link-secondary fs-4">Sign in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<script type= "text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>