{% extends 'base.html' %}

{% block content %}
<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card border-0">
                    <form action="" class="d-flex justify-content-center align-items-center flex-column my-3" method="post">
                        <div class="text-danger font-weight-bold">
                                <ul>
                                    {% for error in errors %}
                                        <li class="my-1">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        <input type="password" placeholder="Old password" class="my-1" name="old_pass">
                        <input type="password" placeholder="New password" class="my-1" name="new_pass">
                        <input type="password" placeholder="Repeat new password" class="my-1" name="new_pass_repeat">
                        <input type="submit" class="btn btn-outline-dark my-1" value="Change">
                        {% if success %}
                        <div class="alert alert-success" role="alert">
                            {{success}}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}