{% extends 'base.html' %}

{% block content %}
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="box text-center position-relative" style="width: 700px; height: 500px;">
                    <div class="chat-body card py-3" style="height: 450px;">
                        <div class="card-body-chat">
                            <strong id="profile"></strong><h4 class="card-title text-center mt-2">Chat</h4>
                            <hr>
                            <div id="messages" class="text-start ps-4 mb-5 overflow-auto" style="height: 300px;">
                            </div>
                            <form class="form-inline w-50" id="chat-form">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control mx-auto" placeholder="Write your message"
                                           id="chat-message" aria-describedby="send">
                                    <button id="send" type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            var current_user;
            $.get("/chat/api/current_user", function (response) {
                current_user = response;
                $("#profile").text(current_user);
            });
            var receiver = "";
            var socket = new WebSocket("wss://translator-semester-work.herokuapp.com/chat-api");
            socket.onmessage = function (event) {
                var parent = $("#messages");
                var data = JSON.parse(event.data);
                var sender = data['sender'];
                if (sender == current_user) sender = "You";
                var message = data['message']
                var content = "<p><strong>" + sender + ": </strong> <span> " + message + "</span></p>";
                parent.append(content);
                parent.animate({scrollTop: parent.prop("scrollHeight")});
            };

            $("#chat-form").on("submit", function (e) {
                e.preventDefault();
                var message = $("#chat-message").val();
                if (message) {
                    data = {
                        "sender": current_user,
                        "message": message
                    };
                    socket.send(JSON.stringify(data));
                    $("#chat-message").val("");
                    document.cookie = 'X-Authorization=; path=/;';
                }
            });
        });
    </script>
{% endblock %}