{% extends 'base.html' %}

{% block content %}
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="box text-center position-relative" style="width: 700px;">
                    <div class="chat-body card py-3">
                        <div class="card-body-register">
                            <h4 class="card-title text-center">Chat</h4>
                            <hr>
                            <form class="form-inline" id="user-form">
                                <input type="text" class="form-control mx-auto" id="user_input"
                                       placeholder="Enter your name" style="width: 300px;">
                                <button id="start" type="submit" class="btn btn-primary mt-3">Start Chat</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $("#user-form").on("submit", function (e) {
                e.preventDefault();
                var current_user = $("#user_input").val();
                if (current_user) {
                    let content = {"name": current_user};

                    $.ajax({
                        url: "/chat/api/register",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(content),
                        contentType: "application/json",
                        success: function (data) {
                            window.location.href = "/chat";
                        },
                    });
                }
            });
        });
    </script>
{% endblock %}