{% extends 'base.html' %}

{% block links %}
    <script src="{{ url_for('static', path='/js/logic.js') }}"></script>
    <link href="{{ url_for('static', path='/css/collections_style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="text-center">
                    {% if user and collection %}
                        {% if user.id == collection.user.id %}
                            <h1 class="brand-name" style="display: inline-block"> {{ collection.name }} </h1>
                            <a href="/collection/update_collection/{{ collection.id }}">
                                <img src="{{ url_for('static', path='/img/editing.png') }}" width="25" alt="edit"
                                     style="position: relative; top: -43px;">
                            </a>
                        {% else %}  {% endif %}
                    {% else %}
                        <h1 class="brand-name"> {{ collection.name }} </h1>
                    {% endif %}
                    <hr class="tagline-divider">
                    <p> {{ collection.description }} </p>
                    <br>
                    {% if collection %}
                    <p><i> Created by <b>{{ collection.user.user_profile[0].name }}</b> </i></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="text-center">
                    {% if user and collection %}
                    {% if user.id == collection.user_id %}
                        <button class="btn btn-outline-dark" onclick="show('block', 'my_window')"> Add new word</button>
                        <hr class="tagline-divider">
                        <br>
                    {% endif %}
                    {% endif %}
                    <div id="all_words">
                        {% for word in collection.collection_words %}
                            <div id="{{ collection.id }}{{ word.word.word_en }}">
                                <button
                                        class="btn btn-outline-secondary"
                                        onclick="add_to_favorites('{{ word.word.word_en }}', '{{ word.word.word_ru }}')"
                                        style="display: inline-block; position: absolute; left: 16.5%;">
                                    Add to favorites
                                </button>
                                <div class="word_en" style="display: inline-block; position: absolute; left: 26%;">
                                    <h3 style="display: inline-block"> {{ word.word.word_en }} </h3>
                                </div>
                                <p style="display: inline-block; position: absolute; left: 50%;"> --- </p>
                                <div class="word_ru" style="display: inline-block; position: absolute; right: 26%;">
                                    <h3 style="display: inline-block"> {{ word.word.word_ru }} </h3>
                                </div>
                                {% if user and collection %}
                                {% if user.id == collection.user.id %}
                                    <button
                                            onclick="delete_word_from_collection('
                                                    {{ collection.id }}{{ word.word.word_en }}', '{{ word.word.id }}')"
                                            class="btn btn-outline-danger"
                                            style="display: inline-block; position: absolute; right: 16.5%;">
                                        Delete word
                                    </button>
                                {% endif %}
                                {% endif %}
                                <br>
                                <hr class="tagline-divider">
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="w-50">
        <div class="alert alert-success d-flex align-items-center d-none" role="alert"
             style="display: block; position: absolute; left: 31%; top: 9%; width: 425px">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill"></use>
            </svg>
            <div>
                Successfully added to favorites
            </div>
        </div>
        <div class="alert alert-danger d-flex align-items-center d-none" role="alert"
             style="display: block; position: absolute; left: 31%; top: 9%; width: 425px">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill"></use>
            </svg>
            <div>
                You need to be authorized to add words to favorites!
            </div>
        </div>
    </div>

    <div onclick="show_nothing()" id="gray"></div>

    <div class="window" id="my_window">
        <!-- Картинка крестика -->
        <img class="close" src="{{ url_for('static', path='img/close.png') }}" alt=""
             onclick="show('none', 'my_window')" style="position: relative; left: 313px;" height="20">
        <div class="form">
            <h2> Write your new word </h2>
            {#            <label for="new_word">Write your new word</label>#}
            <input type="text" id="new_word" style="position: relative; top: 2px; height: 32px">
            <button class="btn-success btn" id="save_new_word" onclick="save_new_word()"> Save</button>
        </div>
    </div>
    <script>
        function save_new_word() {
            let word = document.getElementById("new_word").value
            console.log(word)
            let content = {
                "collection_id": "{{ collection.id }}",
                "word": word
            }

            $.ajax({
                url: location.origin + "/collection/add_word",
                type: "post",
                dataType: "json",
                data: JSON.stringify(content),
                contentType: "application/json",
                success: function (data) {
                    console.log(data)
                    if (data.type !== "success") {
                        return
                    }
                    let words_block = document.getElementById("all_words")
                    console.log(data)

                    let new_word_html = `
                            <div id="` + data.collection_id + data.word_en + `">
                                <button
                                    class="btn btn-outline-secondary"
                                        onclick="add_to_favorites('` + data.word_en + `', '` + data.word_ru + `')"
                                    style="display: inline-block; position: absolute; left: 16.5%;">
                                  Add to favorites
                                </button>
                                <div class="word_en" style="display: inline-block; position: absolute; left: 26%;">
                                    <h3 style="display: inline-block"> ` + data.word_en + ` </h3>
                                </div>
                                <p style="display: inline-block; position: absolute; left: 50%;"> --- </p>
                                <div class="word_ru" style="display: inline-block; position: absolute; right: 26%;">
                                    <h3 style="display: inline-block"> ` + data.word_ru + ` </h3>
                                </div>
                                {% if user and collection %}
                                {% if user.id == collection.user.id %}
                                    <button
                                            onclick="delete_word_from_collection('` + data.collection_id + data.word_en
                        + `', ` + data.word_id + `)"
                                            class="btn btn-outline-danger"
                                            style="display: inline-block; position: absolute; right: 16.5%;">
                                        Delete word
                                    </button>
                                {% endif %}
                                {% endif %}
                                <br>
                                <hr class="tagline-divider">
                                <br>
                            </div>
                    `

                    words_block.insertAdjacentHTML(
                        "beforeend",
                        new_word_html
                    );
                    document.getElementById("new_word").value = ""
                    show_nothing()
                },
            });
        }

        function delete_word_from_collection(id, word_id) {
            let content = {
                "collection_id": "{{ collection.id }}",
                "word_id": word_id,
            }
            $.ajax({
                url: location.origin + "/collection/delete_word_from_collection",
                type: "post",
                dataType: "json",
                data: JSON.stringify(content),
                contentType: "application/json",
                success: function (data) {
                    console.log(data)
                    if (data.type === "success") {
                        document.getElementById(id).remove()
                    }
                }
            })
        }

        function add_to_favorites(en, ru) {
            let content = {'en': en, 'ru': ru}

            $.ajax({
                url: "/translate/add_to_favorites",
                type: "post",
                dataType: "json",
                data: JSON.stringify(content),
                contentType: "application/json",
                success: function (data) {
                    if (data === 'Not allowed') {
                        $('.alert-danger').slideDown(function () {
                            $(this).removeClass('d-none');
                            setTimeout(function () {
                                $('.alert-danger').addClass('d-none');
                            }, 3000);
                        });
                    } else {
                        $('.alert-success').slideDown(function () {
                            $(this).removeClass('d-none');
                            setTimeout(function () {
                                $('.alert-success').addClass('d-none');
                            }, 3000);
                        });
                    }
                },
            });
        }
    </script>
{% endblock %}