{% extends 'base.html' %}

{% block content %}
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <form class="card-body p-5" method="post" enctype="multipart/form-data">
                            <h3 class="mb-2">Create new Collection</h3>
                            <div class="text-danger font-weight-bold">
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="mb-3">
                                <label for="collection_name" class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" id="collection_name">
                            </div>
                            <div class="mb-3">
                                <label for="collection_description" class="form-label">Description</label>
                                <textarea name="description" class="form-control" id="collection_description"></textarea>
                            </div>
                            <button type="submit" class="btn btn-dark"> Save </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}