{% extends 'base.html' %}

{% block content %}
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="box w-50 text-center position-relative">
                    <a href="/user/profile/favorites/repeat" type="button" class="btn btn-secondary repeat" data-bs-toggle="tooltip" data-bs-placement="top" title="You must have at least 5 words in your favorites">Repeat words</a>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">En</th>
                            <th scope="col">Ru</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for favorite in favorites %}
                            <tr class="align-middle">
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ favorite.word_en }}</td>
                                <td>{{ favorite.word_ru }}</td>
                                <td><a href="#" type="button" class="btn btn-outline-dark delete-word" data-word-id="{{ favorite.id }}">delete</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
            $('.delete-word').click(function () {
                let wordId = $(this).attr('data-word-id');
                let content = {'id': wordId};
                let obj = $(this);

                $.ajax({
                    url: "/user/profile/favorites/delete",
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(content),
                    contentType: "application/json",
                    success: function (data) {
                        $(obj).closest("tr").remove();
                    },
                });
            });
        });
    </script>
{% endblock %}