{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="text-center">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="static/img/slide-1.jpg" class="d-block img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="static/img/slide-2.jpg" class="d-block img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="static/img/slide-3.jpg" class="d-block img-fluid">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Translator</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Our Team</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

    </div>
{% endblock %}