{% extends 'base.html' %}

{% block content %}
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card border-0">
                        <div class="rounded-top text-white d-flex flex-row"
                             style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                {% if user_profile.photo %}
                                    <div class="avatar mt-4 mb-2">
                                        <img src="{{ user_profile.photo }}"
                                             class="img-fluid img-thumbnail"  style="width: 150px; z-index: 1">
                                    </div>
                                {% else %}
                                    <img src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg"
                                         class="img-fluid img-thumbnail mt-4 mb-2"  style="width: 150px; z-index: 1">
                                {% endif %}
                                <a href="profile/update" type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                                        style="z-index: 1;">
                                    Edit profile
                                </a>
                            </div>
                            <div class="ms-3" style="margin-top: 130px;">
                                {% if user_profile.name and user_profile.surname %}
                                    <h5>{{ user_profile.name }} {{ user_profile.surname }}</h5>
                                {% else %}
                                    <h5>{{ user.email }}</h5>
                                {% endif %}
                                {% if user_profile.city %}
                                    <p>{{ user_profile.city }}</p>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="d-flex justify-content-end text-center py-1">
                                <div class="me-5">
                                    {% if user_profile.score %}
                                        <p class="mb-1 h5">{{ user_profile.score }}</p>
                                    {% else %}
                                        <p class="mb-1 h5">0</p>
                                    {% endif %}
                                    <p class="small text-muted mb-0">Score</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-3">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1">Email: &nbsp;{{ user.email }}</p>
                                    {% if user_profile.phone %}
                                        <p class="font-italic mb-1">Phone: &nbsp;{{ user_profile.phone }}</p>
                                    {% else %}
                                        <p class="font-italic mb-1">Phone:</p>
                                    {% endif %}
                                    {% if user_profile.english_level %}
                                        <p class="font-italic mb-1">English level:
                                            &nbsp;{{ user_profile.english_level }}</p>
                                    {% else %}
                                        <p class="font-italic mb-1">English level:</p>
                                    {% endif %}
                                </div>
                            </div>
                            <p><a type="button" class="btn btn-outline-dark" href="profile/favorites">Show favorites</a></p>
                            <p><a type="button" class="btn btn-outline-dark" href="profile/purposes">Show puprposes</a></p>
                            <p><a type="button" class="btn btn-outline-dark" href="profile/change_pass">Change password</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}