{% extends 'base.html' %}

{% block content %}
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <form class="card-body p-5" method="post" enctype="multipart/form-data">
                            <div class="text-danger font-weight-bold">
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="mb-3">
                                <label for="user_name" class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" id="user_name"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="user_surname" class="form-label">Surname</label>
                                <input type="text" name="surname" class="form-control" id="user_surname">
                            </div>
                            <div class="mb-3">
                                <label for="user_city" class="form-label">City</label>
                                <input type="text" name="city" class="form-control" id="user_city">
                            </div>
                            <div class="mb-3">
                                <label for="user_phone" class="form-label">Phone</label>
                                <input type="text" name="phone" class="form-control" id="user_phone">
                            </div>
                            <div class="mb-3">
                                <label for="user_english_level" class="form-label">English level</label>
                                <input type="text" name="english_level" class="form-control" id="user_english_level">
                            </div>
                            <div class="mb-3">
                                <label for="user_photo" class="form-label">Avatar</label>
                                <input type="file" name="photo" class="form-control" id="user_photo">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}