{% extends 'base.html' %}

{% block content %}
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="box text-center position-relative" style="width: 900px;">
                    <div class="card" id="list1" style="border-radius: .75rem;">
                        <div class="card-body py-4 px-4 px-md-5">
                            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                                My Purposes
                            </p>
                            <div class="pb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-row align-items-center">
                                            <input type="text" class="form-control form-control-lg"
                                                   id="addPurposeInput"
                                                   placeholder="Add new...">
                                            <a href="#" data-mdb-toggle="tooltip" title="Set due date" id="datepicker"
                                               data-provide="datepicker">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     fill="currentColor" class="bi bi-calendar-week"
                                                     viewBox="0 0 16 16">
                                                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                                </svg>
                                            </a>
                                            <div class="ms-3">
                                                <button type="button" id="addPurposeBtn" class="btn btn-primary">Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            {% if purposes %}
                                {% for purpose in purposes %}
                                    <ul class="list-group list-group-horizontal rounded-0">
                                        <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="form-check mb-0">
                                                {% if purpose.completed %}
                                                    <input class="form-check-input me-0 complete-purpose"
                                                           type="checkbox" value="" data-purpose-id="{{ purpose.id }}"
                                                           id="flexCheckChecked1" checked>
                                                {% else %}
                                                    <input class="form-check-input me-0 complete-purpose"
                                                           type="checkbox" value="" data-purpose-id="{{ purpose.id }}"
                                                           id="flexCheckChecked1">
                                                {% endif %}
                                            </div>
                                        </li>
                                        <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                                            {% if purpose.completed %}
                                                <p class="lead fw-normal mb-0 input-purpose text-decoration-line-through">{{ purpose.description }}</p>
                                            {% else %}
                                                <p class="lead fw-normal mb-0 input-purpose">{{ purpose.description }}</p>
                                            {% endif %}
                                        </li>
                                        <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                                            <div class="d-flex flex-row justify-content-end mb-1">
                                                <a href="#" class="text-info change-purpose me-2"
                                                   data-mdb-toggle="tooltip"
                                                   title="Edit todo" data-purpose-id="{{ purpose.id }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                         fill="currentColor" class="bi bi-pencil-fill"
                                                         viewBox="0 0 18 18">
                                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                    </svg>
                                                </a>
                                                <a href="#" class="text-info approve-purpose me-2 d-none"
                                                   data-mdb-toggle="tooltip"
                                                   title="Edit todo" data-purpose-id="{{ purpose.id }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                                         fill="currentColor" class="bi bi-check-lg" viewBox="0 0 18 18">
                                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                                    </svg>
                                                </a>
                                                <a href="#" class="text-danger delete-purpose"
                                                   data-mdb-toggle="tooltip"
                                                   title="Delete todo" data-purpose-id="{{ purpose.id }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                         fill="currentColor" class="bi bi-trash-fill"
                                                         viewBox="0 0 18 18">
                                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="text-end text-muted">
                                                {% if purpose.date %}
                                                    <a href="#!" class="text-muted text-decoration-none"
                                                       data-mdb-toggle="tooltip"
                                                       title="Expiration date">
                                                        <p class="small mb-0">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16"
                                                                 fill="currentColor" class="bi bi-info-circle-fill"
                                                                 viewBox="0 0 16 16">
                                                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                                            </svg>
                                                            <span class="ms-1">{{ purpose.date.strftime('%d %b %Y') }}</span>
                                                        </p>
                                                    </a>
                                                {% else %}
                                                    <small>Without date</small>
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                You haven't got any purposes yet
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $('#datepicker').datepicker({
                format: 'mm/dd/yyyy',
                startDate: "0d",
            });
        });
        $('#addPurposeBtn').click(function () {
            let purposeDescription = $('#addPurposeInput').val();
            let purposeDate = $('#datepicker').datepicker('getDate');
            let content = {'description': purposeDescription, 'date': purposeDate};

            $.ajax({
                url: "/user/profile/purposes/add",
                type: "post",
                dataType: "json",
                data: JSON.stringify(content),
                contentType: "application/json",
                success: function (data) {
                    $('#addPurposeInput').val('');
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    }
                },
            });
        });
        $('.delete-purpose').click(function () {
            let purposeId = $(this).attr('data-purpose-id');
            let content = {'id': purposeId};
            let obj = $(this);

            $.ajax({
                url: "/user/profile/purposes/delete",
                type: "post",
                dataType: "json",
                data: JSON.stringify(content),
                contentType: "application/json",
                success: function (data) {
                    $(obj).closest("ul").remove();
                },
            });
        });
        $('.complete-purpose').change(function () {
            let purposeId = $(this).attr('data-purpose-id');
            let content = {'id': purposeId};

            $.ajax({
                url: "/user/profile/purposes/complete",
                type: "post",
                dataType: "json",
                data: JSON.stringify(content),
                contentType: "application/json",
            });

            if ($(this).is(':checked')) {
                $(this).closest('ul').find(".input-purpose").addClass('text-decoration-line-through');
            } else {
                $(this).closest('ul').find(".input-purpose").removeClass('text-decoration-line-through');
            }
        });
        $('.change-purpose').click(function () {
            $(this).addClass('d-none');
            $(this).closest('div').find(".approve-purpose").removeClass('d-none');
            let inputValue = $(this).closest("ul").find(".input-purpose").text();
            $(this).closest("ul").find(".input-purpose").replaceWith(`<input class='form-control border purpose-description' value='${inputValue}'>`);
        });
        $('.approve-purpose').click(function () {
            let purposeDescr = $('.purpose-description').val();
            let purposeId = $(this).attr('data-purpose-id');
            let content = {'description': purposeDescr, 'id': purposeId};

            $.ajax({
                url: "/user/profile/purposes/change",
                type: "post",
                dataType: "json",
                data: JSON.stringify(content),
                contentType: "application/json",
                success: function (data) {
                    $('.approve-purpose').addClass('d-none');
                    $('.approve-purpose').closest("ul").find(".purpose-description").replaceWith(`<p class="lead fw-normal mb-0 input-purpose">${purposeDescr}</p>`);
                    $('.approve-purpose').closest('div').find(".change-purpose").removeClass('d-none');
                },
            });
        });
    </script>
{% endblock %}
