{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-center mw-100">
    <div class="box w-50">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Place</th>
                <th scope="col">EN</th>
                <th scope="col">RU</th>
            </tr>
            </thead>
            <tbody>
            {% for word in words %}
            <tr>
                <th scope="row">{{word.place}}</th>
                <td>{{word.word.word_en}}</td>
                <td>{{word.word.word_ru}}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}
