{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-center mw-100">
    <div class="box w-50">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Place</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Score</th>
            </tr>
            </thead>
            <tbody>
            {% for user_ in users %}
            <tr>
                <th scope="row">{{user_.UserRating.place}}</th>
                <td>{{ user_.UserProfile.name }}</td>
                <td>{{ user_.UserProfile.surname }}</td>
                <td>{{ user_.UserProfile.score }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
