{% extends 'base.html' %}

{% block content %}
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="box w-50 text-center ">
                    <div id="quiz">
                        <div id="quiz-header">
                            <h1>Words repeat</h1>
                        </div>
                        <div id="quiz-start-screen">
                            <p><a href="#" id="quiz-start-btn" class="quiz-button">Start</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', path='/js/jquery.quiz.js') }}"></script>
    <script>
        $('#quiz').quiz({
            counterFormat: 'Question %current of %total',
            questions: [
                {% for word_ru, word_en in repeat_words.items() %}
                    {% set randIndex = range(4)|random %}
                    {
                    'q': '{{ word_ru }}',
                    'options': [
                        {% for i in range(4) %}
                            {% if i == randIndex %}
                            '{{ word_en }}',
                            {% else %}
                                {% set randomWord = all_words[ range(0, all_words|length)|random ].word_en %}
                                {% if randomWord == word_en %}
                                    {% set randomWord2 = all_words[ range(0, all_words|length)|random ].word_en %}
                                    {% if randomWord2 == word_en %}
                                        '{{ all_words[ range(0, all_words|length)|random ].word_en }}',
                                    {% else %}
                                        '{{ randomWord2 }}',
                                    {% endif %}
                                {% else %}
                                    '{{ randomWord }}',
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    ],
                    'correctIndex': {{ randIndex }},
                    'correctResponse': 'Correct!',
                    'incorrectResponse': 'Fail :( Correct answer is {{ word_en }}'
                    },
                {% endfor %}
            ]
        });
    </script>
{% endblock %}