{% extends 'base.html' %}

{% block content %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <form class="card-body p-5 text-center" method="post">
                            <h3 class="mb-2">Sign in</h3>
                            <div class="text-danger font-weight-bold">
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-outline">
                                <label class="form-label" for="sign_in_email"></label>
                                <input type="email" id="sign_in_email" name="email" class="form-control form-control-lg"
                                       placeholder="Email" required/>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="sign_in_password"></label>
                                <input type="password" name="password" id="sign_in_password" placeholder="Password"
                                       class="form-control form-control-lg" required/>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block w-100 mb-4" type="submit">Login</button>
                            <p>Don't have an account? <a href="/auth/sign_up" class="link-primary text-decoration-none">Register
                                here</a></p>
                            <hr class="my-4">
                            <a href="/auth/oauth" class="btn btn-lg btn-block btn-primary text-uppercase w-100"
                                    style="background-color: #dd4b39;"
                                    type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-google me-2" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                                </svg>
                                Sign in with google
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}