{% extends 'base.html' %}

{% block content %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <form class="card-body p-5 text-center" method="post">
                            <h3 class="mb-2">Sign up</h3>
                            <div class="text-danger font-weight-bold">
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="form-outline">
                                <label class="form-label" for="signup_email"></label>
                                <input type="email" id="signup_email" name="email" class="form-control form-control-lg"
                                       placeholder="Email" required/>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="signup_password"></label>
                                <input type="password" name="password" id="signup_password" placeholder="Password"
                                       class="form-control form-control-lg" required/>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block w-100 mb-4" type="submit">Register</button>
                            <div><a href="/" class="link-secondary">Home</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}