{% extends 'base.html' %}

{% block content %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="container">
        <div class="row justify-content-center">
            <div class="w-50">
                <div class="alert alert-success d-flex align-items-center d-none" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill"/>
                    </svg>
                    <div>
                        Successfully added to favorites
                    </div>
                </div>
                <div class="alert alert-danger d-flex align-items-center d-none" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <div>
                        You need to be authorized to add words to favorites!
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="box w-50">
                <div class="translation-lang mb-2">
                    <span id="lang" data-lang="en">En -> Ru</span>
                    <button class="btn btn-secondary ms-3" id="change-lang">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                            <path fill-rule="evenodd"
                                  d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                        </svg>
                    </button>
                </div>
                <div class="input-group">
                    <textarea class="form-control translate-textarea" aria-label="Text to translate" id="toTranslate"
                              aria-describedby="translate-button" placeholder="Type any text"></textarea>
                    <button class="btn btn-outline-secondary" type="button" id="translate-button">Translate</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="box w-50 position-relative">
                <textarea class="form-control translate-textarea" id="translatedText"></textarea>
                <button class="btn btn-primary favorite d-none" id="addToFavorites">Add to favorites</button>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            let lang = $('#lang');
            $("#change-lang").click(function () {
                if (lang.text() === 'En -> Ru') {
                    lang.text('Ru -> En');
                    lang.attr("data-lang", "ru");
                } else {
                    lang.text('En -> Ru');
                    lang.attr("data-lang", "en");
                }
                $('#toTranslate').val('');
                $('#translatedText').val('');
                $(".favorite").addClass("d-none");
            });
            $('#toTranslate').keyup(function () {
                if ($(this).val().length === 0) {
                    $('#translatedText').val('');
                    $(".favorite").addClass("d-none");
                }
            });
            $("#translate-button").click(function () {
                let translatedText = $('#translatedText');
                let src = 'en';
                let dest = 'ru';
                if (lang.attr('data-lang') === 'ru') {
                    src = 'ru';
                    dest = 'en';
                }
                let content = {
                    'content': $('#toTranslate').val(),
                    'src': src,
                    'dest': dest
                };

                $.ajax({
                    url: "/translate",
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(content),
                    contentType: "application/json",
                    success: function (data) {
                        translatedText.val(data.text);
                        $(".favorite").removeClass("d-none");
                    },
                });
            });
            $('#addToFavorites').click(function () {
                let translate = $('#toTranslate').val();
                let translatedText = $('#translatedText').val();
                let content;
                if (lang.attr('data-lang') === 'en') {
                    content = {'en': translate.toLowerCase(), 'ru': translatedText.toLowerCase()};
                } else {
                    content = {'en': translatedText.toLowerCase(), 'ru': translate.toLowerCase()};
                }

                $.ajax({
                    url: "/translate/add_to_favorites",
                    type: "post",
                    dataType: "json",
                    data: JSON.stringify(content),
                    contentType: "application/json",
                    success: function (data) {
                        if (data === 'Not allowed') {
                            $('.alert-danger').slideDown(function () {
                                $(this).removeClass('d-none');
                                setTimeout(function () {
                                    $('.alert-danger').addClass('d-none');
                                }, 3000);
                            });
                        } else {
                            $('.alert-success').slideDown(function () {
                                $(this).removeClass('d-none');
                                setTimeout(function () {
                                    $('.alert-success').addClass('d-none');
                                }, 3000);
                            });
                        }
                    },
                });

                $('#toTranslate').val('');
                $('#translatedText').val('');
                $(this).addClass('d-none');
            });
        });
    </script>
{% endblock %}