{% extends 'base.html' %}

{% block links %}
    <link href="{{ url_for('static', path='/css/collections_style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <form class="card-body p-5" method="post" enctype="multipart/form-data">
                            <h3 class="mb-2">Update Collection</h3>
                            <div class="text-danger font-weight-bold">
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="mb-3">
                                <label for="collection_name" class="form-label">Collection name</label>
                                <input type="text" name="name" class="form-control" id="collection_name"
                                       value="{{ collection.name }}">
                            </div>
                            <div class="mb-3">
                                <label for="collection_description" class="form-label">description</label>
                                <textarea name="description" class="form-control" id="collection_description">{{ collection.description }}</textarea>
                            </div>
                            <button type="submit" class="btn btn-dark">Save</button>
                        </form>
                        <button onclick="show('block', 'delete')" class="btn-danger btn" id="start_deleting">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div onclick="show_nothing()" id="gray"></div>

    <div class="window" id="delete">
        <!-- Картинка крестика -->
        <img class="close" src="{{ url_for('static', path='img/close.png')}}" alt=""
             onclick="show('none', 'delete')" style="position: relative; left: 313px;" height="20">
        <div class="form">
            <h2>  </h2>
            <button class="btn-danger btn" id="point_of_no_return" onclick=""> Delete </button>
        </div>
    </div>

    <script>
        {# "block" "none" #}
        function show(state, id) {
            document.getElementById(id).style.display = state;
            document.getElementById('gray').style.display = state;
        }
        console.log("hello")

        function show_nothing() {
            document.getElementById("delete").style.display = 'none';
            document.getElementById("gray").style.display = 'none';
        }

        function delete_collection() {
            let content = {
                "id": "{{ collection.id }}"
            }
            $.ajax({
                url: location.origin + "/collection/delete_collection",
                type: "post",
                dataType: "json",
                data: JSON.stringify(content),
                contentType: "application/json",
                success: function (data) {
                    console.log(data)
                    if (data !== 'success') {
                        $('.alert-danger').slideDown(function () {
                            $(this).removeClass('d-none');
                            setTimeout(function () {
                                $('.alert-danger').addClass('d-none');
                            }, 3000);
                        });
                    } else {
                        $('.alert-success').slideDown(function () {
                            $(this).removeClass('d-none');
                            setTimeout(function () {
                                $('.alert-success').addClass('d-none');
                            }, 3000);
                        });
                        console.log("completed")
                        document.location.href = "http://127.0.0.1:8000/collection/all"
                    }
                },
            });
        }
    </script>
{% endblock %}